.nav {
    background-color: black;
    position: sticky !important;
    top: 0 !important;
    z-index: 1020 !important;
}

.backnav {
    background-color: black;
}

.logo{
    background-color: black;
    font-size: 30px !important;
    color: white !important;
}

.links{
    color:white !important;
    font-size: 18px !important;
    background-color: black !important;
}

.links:hover {
    color: #61dafb !important;
}

.navbutton{
    color: black !important;
    background-color: white !important;
}

.navbutton:hover{
    background: #61dafb !important;
    color: white !important;
}
